#SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0001", ATTRS{serial}=="649323438383512122B1", iMODE="0666", SYMLINK+="UPS"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0001", ATTRS{serial}=="649323438383512122B1", MODE="0666", SYMLINK+="IMU"

