<launch>
	<!-- Laser SIM -->
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="/camera/depth/image_raw"/>
	</node>
	<!-- GMAPPING -->
 	<node name="gmapping" pkg="gmapping" type="slam_gmapping">
                <remap from="image" to="/scan"/>
        </node>
</launch>

