<launch>
	<!-- CA_DRIVER -->
	<include file="$(find ca_driver)/launch/create_2.launch"/>

	<!-- CAM Driver -->
	<include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>

	<!-- Laser SIM -->
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="/camera/depth/image_raw"/>
	</node>
 	<node name="gmapping" pkg="gmapping" type="slam_gmapping">
                <remap from="image" to="/scan"/>
        </node>
</launch>

