<launch>
	<!-- 2015 10 05 -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	<node name="web_video_server" pkg="web_video_server" type="web_video_server" />

	<!-- CAM Driver -->
	<node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" />

	<!-- PLAY ANY AUDIO -->
	<!-- node name="audio_play" pkg="audio_play" type="audio_play" / -->
	
	<!-- PLAY TEXT from TOPIC -->
	<node name="sound_play" pkg="sound_play" type="soundplay_node.py" />

	<!-- IMU >
  	<node name="imu_node" pkg="razor_imu_9dof" type="imu_node.py" output="screen">
        	<param name="device" type="string" value="/dev/ttyUSB0" />
  	</node -->
</launch>
