<launch>
	<!-- 2016 11 27 -->
	<!-- ROS BRIDGE -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	<node name="web_video_server" pkg="web_video_server" type="web_video_server" />

	<!-- CAM Driver -->
	<!-- node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" / -->
	<include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>

	<!-- PLAY ANY AUDIO -->
	<!-- node name="audio_play" pkg="audio_play" type="audio_play" / -->
	
	<!-- PLAY TEXT from TOPIC -->
	<node name="sound_play" pkg="sound_play" type="soundplay_node.py" />

	<!-- IMU -->
	<node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen" >
    		<rosparam file="$(find razor_imu_9dof)/config/my_razor.yaml" command="load"/>
  	</node>

	<!-- firmata pymata drive -->
	<!-- node name="PyMataDrive" pkg="mockbot" type="pymata_move_base.py" output="screen" / -->
	<!-- node name="ca_driver" pkg="mockbot" type="ca_driver" output="screen" 
	/ -->

	<include file="$(find ca_driver)/launch/create_2.launch"/>

        <!-- Laser SIM -->
        <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
                <remap from="image" to="/camera/depth/image_raw"/>
        </node>

	<node name="gmapping" pkg="gmapping" type="slam_gmapping"/>
</launch>

