<launch>
    <node name="stageros" pkg="stage_ros" type="stageros" 
          args="$(find mockbot)/simulator/store_xlbs.world"/>
    <node name="slam" pkg="gmapping" type="slam_gmapping">
        <remap from="scan" to="base_scan"/>
    </node>
    <node name="wallfollower" pkg="mockbot" type="wallfollower_xlbs.py"/>
</launch>
