<launch>
    <node name="stageros" pkg="stage_ros" type="stageros" 
          args="$(find mockbot)/simulator/circle.world"/>
    <node name="slam" pkg="gmapping" type="slam_gmapping">
        <remap from="scan" to="base_scan"/>
    </node>
<!--
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find ros_liv_wander)/rviz/robot-gmapping.vcg"/>
-->
    <node name="wallfollower" pkg="mockbot" type="wallfollower.py"/>
</launch>
