<launch>
	<node name="openni_camera" pkg="openni_camera" type="openni_node" />

	<node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" />

	<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>

	<node name="utm_odometry_node" pkg="gps_common" type="utm_odometry_node"/>

	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" >
		<param name = "port" value="/dev/arduino_uno_649323438383512122B1" />
	</node>

        <node name="gpsd_client" pkg="gpsd_client" type="gpsd_client" >
                <param name = "host" value = "127.0.0.1" />
                <param name = "port" value = "2947" />
                <param name = "use_gps_time" value = "false" />
        </node>

	<node name="Velocity2Servo" pkg="MockBotVelocity2Servo" type="MockBotVelocity2Servo.py"/>
	<node name="rosbridge" pkg="rosbridge" type="rosbridge.py"/>

        <!--node name="sound_play" pkg="sound_play" type="say.py" >
                <param name = "say" value = "Hello World" />
        </node -->

<include file="$(find openni_camera)/launch/openni_node.launch"/>

	<node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>

	<node pkg="nodelet" type="nodelet" name="pointcloud_throttle" args="load pointcloud_to_laserscan/CloudThrottle openni_manager"> 
		<param name="max_rate" value="2"/> 
		<remap from="cloud_in" to="/camera/depth/points"/> 
		<remap from="cloud_out" to="cloud_throttled"/> 
	</node>

	<node pkg="nodelet" type="nodelet" name="kinect_laser" args="load pointcloud_to_laserscan/CloudToScan openni_manager"> 
		<param name="output_frame_id" value="/openni_depth_frame"/> 
		<remap from="cloud" to="cloud_throttled"/> 
	</node> 
</launch>
