<launch>
    <node name="stage" pkg="stage" type="stageros" 
          args="$(find mockbot2)/simulator/mockbot.world"/>
    <node name="wallfollower" pkg="mockbot2" type="wallfollower.py"/>
    <node name="slam" pkg="gmapping" type="slam_gmapping">
        <remap from="scan" to="base_scan"/>
    </node>
<!--
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find ros_liv_wander)/rviz/robot-gmapping.vcg"/>
-->
</launch>
